@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tilt+Warp&display=swap');
/* ------------------------- */
/* ---------------VARIABLES */
/* ------------------------- */
:root {
    /* colors */
    --clr-light: #B1D0A4;
    --clr-medium: #99B894;
    --clr-neutral: #8AA8AF;
    --clr-black: #1d2634;


    /* bg */
    --bg-light: #688BA4;
    --bg-dark: #4A5F83;


    /* fonts */
    --ff-header: 'Tilt Warp', sans-serif;
    --ff-body:'Montserrat', sans-serif;
    --clr-font: whitesmoke;

}

/* ------------------------- */
/* ----------- CSS STYLES  */
/* ------------------------- */

html, body {
    background: var(--bg-dark);
    color: var(--clr-font);
    font-family: inherit;
}

body {
    font-family: var(--ff-body);
}

h1 {
    color: var(--clr-light);
}

#navbar a {
    color: var(--clr-medium);
}

.item {
    background: var(--yellow);
}

button {
    background: var(--bg-light);
    color: var(--clr-black);
}
