@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tilt+Warp&display=swap');
/* ------------------------- */
/* ---------------VARIABLES */
/* ------------------------- */
:root {
    /* colors */
    --clr-light: #B1D0A4;
    --clr-medium: #99B894;
    --clr-neutral: #8AA8AF;
    --clr-black: #1d2634;


    /* bg */
    --bg-light: #688BA4;
    --bg-dark: #4A5F83;


    /* fonts */
    --ff-header: 'Tilt Warp', sans-serif;
    --ff-body:'Montserrat', sans-serif;
    --clr-font: whitesmoke;

}

/* ------------------------- */
/* ----------- UTILITY CLASSES  */
/* ------------------------- */

.grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 140px;
    grid-gap: 20px;
    justify-content: center;
}

/* ------------------------- */
/* ----------- CSS STYLES  */
/* ------------------------- */

html, body {
    background: var(--bg-dark);
    color: var(--clr-font);
    font-family: inherit; 
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-body);
}

h1 {
    color: var(--clr-light);
    text-align: center;
    font-size: 5rem;
}

/* NAVBAR */

#navbar a {
    color: var(--clr-medium);
}


button {
    background: var(--bg-light);
    color: var(--clr-black);
}

a {
    text-decoration: none;  
    font-size: 3rem;
}


#navbar {
    padding: 20px 0;
    font-size: 24px;
}


#navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

p {
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > p {
    font-size: 12px;
}

button {
    margin: 0px auto;
    display: block;
    padding: 5px 10px;
    border: none;
}


/* ------------------------- */
/*                Grid       */
/* ------------------------- */

.item {
    background: var(--yellow);
}

