@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tilt+Warp&display=swap');
/* ------------------------- */
/* ---------------VARIABLES */
/* ------------------------- */
:root {
    /* colors */
    --clr-light: #B1D0A4;
    --clr-medium: #99B894;
    --clr-neutral: #688086;
    --clr-black: #1d2634;


    /* bg */
    --bg-light: #688BA4;
    --bg-dark: #4A5F83;


    /* fonts */
    --ff-header: 'Tilt Warp', sans-serif;
    --ff-body:'Montserrat', sans-serif;
    --clr-font: whitesmoke;

}

/* ------------------------- */
/* ----------- UTILITY CLASSES  */
/* ------------------------- */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 20px;
    justify-content: center;

    padding: 2rem;
}

.flex {
    display: flex;
    flex-direction: column;
}

/* ------------------------- */
/* ----------- CSS STYLES  */
/* ------------------------- */

html, body {
    background: var(--bg-dark);
    color: var(--clr-font);
    font-family: inherit; 
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-body);
}

h1 {
    color: var(--clr-light);
    text-align: center;
    font-size: 2rem;
}

h2 {
    background-color: var(--clr-medium);
    text-align: center;  
}

/* NAVBAR */

#navbar a {
    color: var(--clr-font);
}


button {
    background: var(--bg-light);
    color: var(--clr-font);
}

a {
    text-decoration: none;  
    font-size: 1.25rem;
}


#navbar {
    padding: 20px 0;
}


#navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

p {
    text-align: center;
    font-size: 18px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > p {
    font-size: 12px;
}

button {
    margin: 0px auto;
    display: block;
    padding: 5px 10px;
    border: none;
}


/* ------------------------- */
/*                Grid       */
/* ------------------------- */

.item {
    background: var(--clr-light);
    color: var(--clr-black);
    justify-content: space-around;
    text-shadow: 0 0 1px white;
}

#skyline-img {
    background-image: url(/City-Skyline.png);
    background-size: cover;
}
#gaming-img {
    background-image: url(/gaming-picture.png);
    background-size: cover;
}

#button-img {
    background-image: url(/button-picture.png);
    background-size: cover;
}

#birthday-img {
    background-image: url(/birthday-site-picture.png);
    background-size: cover;
}